@model TAIS_S2_Sistema_Matriculas.Models.Alumno

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nroMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nroMatricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apePaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apePaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apeMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apeMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otroNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otroNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.escala)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.escala)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.añoIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.añoIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lenguaMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lenguaMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estadoCivil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estadoCivil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.colegioProcedencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colegioProcedencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.domicilio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dProvincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dProvincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dDistrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dDistrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medioTransporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medioTransporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.demoraLlegar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.demoraLlegar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.energiaElectrica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.energiaElectrica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instalacionAgua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instalacionAgua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desague)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desague)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sshh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sshh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nroHabitaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nroHabitaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nroHabitantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nroHabitantes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.situacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.situacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codEducando }) |
    @Html.ActionLink("Back to List", "Index")
</p>
