@model TAIS_S2_Sistema_Matriculas.Models.Alumno

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro que quieres eliminarlo?</h3>
<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Distrito.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApePaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApePaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApeMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApeMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtroNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtroNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domicilio)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar Alumno" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
